
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{

    background-size: 100%;
    font-family: "Montserrat";
    font-style: normal;
    background: #E14231;
}




.wrapper {
    max-width:1024px;
    height: 685px;
    margin:0 auto;
    background: url(../img/miziki.jpg) no-repeat;
}

.header__wraper{
    display: flex;
    max-width:1024px;
    height: 142px;
    justify-content: space-between;
    align-items: center;

}
.header__wraper-center{
    width: 1024px;
    height: 30px;
    background: rgba(196, 196, 196, 0.8);
    position: relative;
}

.header__wrapper-1{
    font-family: Montserrat;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFCFC;

}

.header__wrapper-adres{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 120px;
    background: #010101;
    clip-path: polygon(0 0, 210px 0, 320px 120px, 0 120px);
}

.header__wrapper-niz{
    width: 350px;
    height: 22px;
    background: #FFEB54;
        clip-path: polygon(0 0, 320px 0, 344px 22px, 0 22px);
}


.header__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header__item{
    margin-right: 50px;
}

.header__list: last-child{
    margin-right: 20px;
}

.header__link{
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}


.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
    text-decoration: underline;

}
.ikonki__link:hover, .ikonki__link:focus{
    opacity: .75;
}

.header__wrapper-2{
    background: rgba(0, 0, 0, 0.35);
    width: 1024px;
    height: 153px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.header__logo-pic{
    margin-top: 100px;
    order: 0;
    margin-left: 30px;

}

.header__title{

    font-family: Montserrat;
    max-width: 417px;
    order: 1;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    margin-right: 170px;
    align-content: center;
}

.header__ikonki{
    margin-top: 60px;
    order: 2;
    margin-right: 30px;
}
.ikonki__logo1{
    margin-right: 20px;
    margin-top: 34px;
}

.ikonki__logo2{
    margin-top: 39px;
}

.header__title-3{
    margin-bottom: 100px;
    margin-left: 50px;
    width: 550px;
    height: 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 33px;
}

.line{
    margin-bottom: -35px;
    width: 800px;
    height: 0px;
    border: 2px solid rgba(0, 0, 0, 0.5);

}

.header__title-1{
    margin-left: 50px;
    margin-top: 90px;
    margin-bottom: -40px;
}

.start{
max-width: 1024px;
margin: 0 auto;
}

.seraja__linija-o-nas {
    max-width: 565px;
    background: rgba(0, 0, 0, 0.7);
    height: 54px;
    position: relative;
    bottom: 360px;

}
.seraja__linija-o-nas-text {
width: 82px;
height: 29px;
z-index: 1;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;
position: relative;
color: #E5E5E5;
left: 242px;
bottom: -12px;
}


.seraja__fignja-pod-blockom-1 {
position: relative;
max-width: 1024px;
height: 650px;
background:#676767;
bottom: 201px;
}

.seraja__figna-pod-blockom-1-text {
width: 1024px;
height: 250px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26,82px;
left: 19px;
position: relative;
top: 6px;
color: #000000;
}

.foto__pacanchika {
    position: relative;
    bottom: 570px;
}
.foto__pacanchika1 {

}
.zelenaja__herobora {

width: 354px;
height: 447px;
position: relative;
background: #B3C87B;
left: 670px;
bottom: 1018px;
}
.zelenaja__herebora-text {
width: 211px;
height: 24px;
position: relative;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
left: 64px;
top: 43px;
right: 79px;
bottom: 380px;
color: #000000;


}
.zelenaja__herobora-podkontext {
position: relative;
width: 224px;
height: 22px;
top: 139px;
left: 8px;
right: 122px;
bottom: 286px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #000000;

}
.zelenaja__herobora-podkontext-2 {
width: 337px;
height: 44px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
position: relative;
left: 8px;
right: 9px;
top: 201px;
bottom: 202px;
color: #000000;

}
.zelenaja__herobora-podkontext-3 {
color: #000000;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
position: relative;
left: 8px;
top: 290px;

}
.zelenaja__herobora-bolsaja {
width: 1024px;
height: 91px;
position: relative;
background: #B3C87B;
bottom: 1018px;

}
.zelenaja__herobora-bolsaja-text {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
left: 9px;
position: relative;
top: 10px;

}

.foto__tjeti {
bottom: 1018px;
position: relative;
left: 355px;
z-index: 5;
z-index: 1;
max-width: 670px;
height: 446.67px;
}
.foto__tjeti-1 {


}

.zheltij__block {
bottom: 1465px;
max-width: 600px;
height: 667px;
position: relative;
background: #FFEB54;
}

.zheltij__block-text {
max-width: 192px;
height: 24px;
display: block;
position: relative;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
left: 90px;
top: 40px;
color: #000000;

}

.zheltij__block-1-text {

max-width: 184px;
height: 44px;
position: relative;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
left: 30px;
top: 80px;
color: #000000;
}

.zheltij__block-2-text {

max-width: 251px;
height: 90px;
position: relative;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
left: 30px;
top: 105px;
color: #000000;
}

.zheltij__block-3-text {
position: relative;
max-width: 254px;
height: 63px;
left: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
top: 123px;
color: #000000;
}

.zheltij__block-4-text{
position: relative;
max-width: 565px;
height: 63px;
left: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
top: 200px;
color: #000000;
}

.serij___blok-domenik {
max-width: 424px;
height: 220px;
position: relative;
background: #C4C4C4;
left: 601px;
bottom: 1685px;
}

.serij__blok-domenik-text {
max-width: 145px;
height: 24px;
position: relative;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
left: 139px;
top: 118px;
bottom: 78px;
right: 140px;
color: #000000;
}

.ogromenij__serij-block {
max-width: 1024px;
height: 579px;
position: relative;
background: #C4C4C4;
bottom: 1685px;
left: 1px;
}

.ogromenij__serij-block-text {
z-index: 2;
max-width: 389px;
height: 242px;
position: relative;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
left: 617px;
top: 24px;
color: #000000;
}

.ogromenij__serij-block-text-1 {
z-index: 2;
max-width: 389px;
height: 242px;
position: relative;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
left: 617px;
top: 10px;
color: #000000;
}

.foto__kitajozi {
left: 1px;
position: relative;
bottom: 2264px;
}

.foto_kitajozi-1 {}
.samij__niz-ogo{
max-width: 696px;
height: 66px;
position: relative;
bottom: 2200px;
background: #878585;
left: 1px;
}

.samij__niz-ogo-text-1{
font-family: Oxygen;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
color: #000000;
display: block;
margin-left: 20px;
padding-top: 10px;
}

.samij__niz-ogo-text-2{
font-family: Oxygen;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
color: #000000;
display: block;
margin-left: 35px;
}

.samij__niz-zoltij {
max-width: 443px;
height: 100px;
position: relative;
bottom: 2300px;
left: 582px;
background: #FFEB54;
clip-path: polygon(0 0, 443px 0, 443px 100px, 100px 100px);
}

.samij__niz-zoltij-text {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
color: #000000;
display: block;
margin-left: 168px;
padding-top: 32px;
}





